extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/Services
include mixins/home/landing/AboutProviders
include mixins/home/landing/AboutMobileApps
include mixins/home/landing/Testimonial
include mixins/home/landing/Article
include mixins/home/landing/Footer


append variables
  - var currentPage = 'index'

prepend scripts
  

append content
  +HeroHeader
  +Services
  +AboutProviders
  +AboutMobileApps
  +Testimonials
  +Articles
  +Footer