mixin HeroHeader
  section.py-0
    +Background({ image: `${CWD}assets/img/illustrations/dot.png`, attrs: { style: { 'background-position': 'left', 'background-size': 'auto','margin-top':'-105px',} }, className: '' }) 
    .container.position-relative
      .row.align-items-center
        .col-md-5.col-lg-6.order-md-1.pt-8
          img.img-fluid(src=`${CWD}assets/img/illustrations/hero-header.png`  alt='') 
        .col-md-7.col-lg-6.text-center.text-md-start.pt-5.pt-md-9
          h1.mb-4.display-3.fw-bold Virtual healthcare 
            br.d-block.d-lg-none.d-xl-block
            |for you.
          
          p.mt-3.mb-4.fs-1 Trafalgar provides progressive, and affordable
            br.d-none.d-lg-block
            | healthcare, accessible on mobile and online
            br.d-none.d-lg-block 
            |for everyone
          a.btn.btn-lg.btn-primary.rounded-pill.hover-top(href='#' role='button')
            | Learn more
          
