<script src="https://cdn.tailwindcss.com"></script>
<nav class="fixed top-0 left-0 bg-white flex justify-center w-full items-center px-8">
    <div id="nav-container" class="flex w-full py-6 justify-between items-center">
        <p class="text-3xl text-bold">Learners'Ed</p>
        <div id="nav-buttons" class="flex justify-center items-center gap-x-3">
            <a id="l" href="/dashboard/" class="py-2 px-4 rounded-lg duration-200 border-2 border-white hover:text-white hover:border-2 hover:border-white hover:duration-200 hover:bg-black">Dashboard</a>
            <a id="l" href="/lectures/" class="py-2 px-4 rounded-lg duration-200 border-2 border-white hover:text-white hover:border-2 hover:border-white hover:duration-200 hover:bg-black">Lectures</a>
            <a id="l" href="/gamify/" class="py-2 px-4 rounded-lg duration-200 border-2 border-white hover:text-white hover:border-2 hover:border-white hover:duration-200 hover:bg-black">Gamify</a>
            <a id="l" href="/assignment/" class="py-2 px-4 rounded-lg duration-200 border-2 border-white hover:text-white hover:border-2 hover:border-white hover:duration-200 hover:bg-black">Assignment</a>
            <a id="l" href="/student_insights/" class="py-2 px-4 rounded-lg duration-200 border-2 border-white hover:text-white hover:border-2 hover:border-white hover:duration-200 hover:bg-black">Student Insight</a>
            <a id="l" href="/logout/" class="py-2 px-4 rounded-lg duration-200 border-2 border-black shadow-xl hover:text-white hover:border-2 hover:border-white hover:duration-200 hover:bg-black">Logout</a>
        </div>
    </div>
</nav>