/* VARS */
@font-face {
    font-family: "opendyslexic-regular";
    src: url('/static/fonts/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

/* BODY */
body {
    font-family: "opendyslexic-regular";
    width: 320px;
    margin: 0;
    background-color: #e2f0f9cc;
}

/* DIV */
div {
    margin: 0;
    padding: 0;
}

/* H1: */
h1 {
    padding: 10px;
    background-color: #6d24cc;
    color: white;
    font-weight: 500;
    text-align: center;
}

/* TOOL CONTAINER DIV (GRID PARENT) */
.tool-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 0.5rem 0.7rem;
    border: 2px solid var(--awake-color);
    border-radius: 0.5rem;
}

/* TOOL HEADERS */
.tool-header {
    text-align: center;
    background-color: var(--awake-color);
    overflow: hidden;
    padding: 0.6rem 0 0.6rem;
    cursor: pointer;
}

/* TOOL TITLES */
.tool-title {
    font-size: 1rem;
    margin: 0;
}

/* ON-OFF CONTAINER */
.on-off-container {
    text-align: right;
    opacity: 0.6;
    padding: 0.7rem 1rem 0.7rem;
    pointer-events: none;
}

/* ON-OFF */
.on-off {
    font-size: 0.8rem;
    margin: 0;
    pointer-events: none;
}

/* MAIN TOGGLE CONTAINER */
.toggle-container {
    text-align: center;
    margin: 0.7rem 0 0.3rem;
}

/* MAIN TOGGLE BUTTON */
.toggle-button {
    cursor: pointer;
}

/* CHILD TOOL CONTAINERS */
.child-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

/* CHILD TOOL HEADERS */
/* CHILD TOOL TOGGLE CONTAINERS */
.child-tool-header, 
.child-toggle-container {
    text-align: center;
    background-color: var(--awake-second);
    overflow: hidden;
    padding: 0.4rem 0 0.4rem;
    margin: 0.4rem 0 0;
}

/* CHILD TOOL TITLES */
.child-tool-title {
    font-size: 1rem;
    margin: 0;
}

/* CHILD TOOL TOGGLE BUTTON */
.child-toggle-button {
    cursor: pointer;
}

/* INPUT CONTAINER */
.input-container {
    margin: 0.5rem 0.5rem 0rem;
    align-self: center;
}

/* GRID CELLS MAIN */
.r1-c1 {
    grid-row: 1;
    grid-column: 1 / 3;
}
.r1-c2 {
    grid-row: 1;
    grid-column: 2 / 3;
}
.r2-c1 {
    grid-row: 2;
    grid-column: 1 / 3;
}
.r2-c2 {
    grid-row: 2;
    grid-column: 2 / 3;
}
.r3-c1 {
    grid-row: 3;
    grid-column: 1 / 2;
}
.r3-c2 {
    grid-row: 3;
    grid-column: 2 / 3;
}
.r4-c1 {
    grid-row: 4;
    grid-column: 1 / 2;
}
.r4-c2 {
    grid-row: 4;
    grid-column: 2 / 3;
}
.r5-c1 {
    grid-row: 5;
    grid-column: 1 / 2;
}

/* GRID CELLS CHILD */
.child1 {
    grid-row: 2;
    grid-column: 1 / 3;    
}
.child2 {
    grid-row: 3;
    grid-column: 1 / 3;    
}
.ch-r1c1 {
    grid-row: 1;
    grid-column: 1 / 2;
}
.ch-r2c1 {
    grid-row: 2;
    grid-column: 1 / 2;
}

/* SLIDER INPUT */
.slider-input {
    width: 100%;
    cursor: pointer;
    margin: 0.7em 0 0.7em;
}

/* NUMBER INPUT */
.num-input {
    width: 45px;
    padding: 0 0 0 0.2em;
}

/* INPUT, LABELS align middle */
input, 
label {
    vertical-align: middle;
}

/* COLLAPSED CONTAINERS */
.tool-container.collapsed > div:not(.tool-header):not(.on-off-container) {
    display: none;
    pointer-events: none;
}

/* INACTIVE CONTAINERS*/
/* Inactive Tool Containers: */
.tool-container.inactive {
    border: 2px solid var(--sleep-color);
}
/* Inactive Tool Containers Headers: */
.tool-container.inactive > div.tool-header {
    background-color: var(--sleep-color);
}
/* Inactive Containers > Input Containers */
.tool-container.inactive > div.input-container,
.child-container.inactive > div.input-container {
    opacity: 0.5;
    pointer-events: none;
}
/* Inactive Child Containers > Headers, Toggles */
.child-container.inactive > div.child-tool-header, 
.child-container.inactive > div.child-toggle-container {
    background-color: var(--sleep-second);
}
/* Inactive Child Containers > Titles */
.child-container.inactive > div > p.child-tool-title {
    opacity: 0.5;
}
/* Individual Inactive Input Container (Hue) */
.input-container.inactive{
    opacity: 0.5;
}
/* Inactive Input Container > * Pointer Events */
.input-container.inactive > * {
    pointer-events: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}



.section {
    margin: 10px;
    padding: 10px;
    border: 1px black solid;
}


/* drop down */
h1 {
  margin: 0;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: white;
  border: 1px solid #9fa4a866;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.3 ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-title {
  /*margin: 0 35px 0 0;*/
  padding: 0 10px;
}

.faq-text {
  display: none;
  margin: 10px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}
