{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gamification</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'lectures.css' %}" />
        <script src="https://cdn.tailwindcss.com"></script> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{% static 'nav-styles.css' %}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Rowdies:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id="whole">
            <div class="heading">
                <h1 id="title"><b>LECTURE</b></h1>
                <hr style="height:2px; background-color:black">
            </div>
            <div class="main">
                <div class="box box1 mb-10 flex justify-center items-center">
                    <video class="border-8 w-1/2 rounded-3xl border-black bg-white" id="videoElement" autoplay></video>
                </div>
                <div id="pred" class="box box2 h-16 flex justify-center items-center font-bold text-4xl"></div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'script-lec.js' %}"></script>
    </body>
</html>
            